body {
    background: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAACAAAAQACAIAAAAP+8yGAAACoklEQVR4Xu3dwQ0CMQxEUTtKvbRCC3RqjtwR3g3WSwP/MDOObaIlH89XdJ4VzQcAACBiZzcgMvs1AAAAAFCu3WiR3YCYcKMBACh2AKopgFJBA7Xoo4Fip1TQAEAtkmQASXZlalsAJLk/aC59AICdSQNJ7ge4DwRN0ORAbypociAHgsamliHWmlwkB7oKnZ0caH7lQA40v3LApmqRHPiBAsBCSvsOYCHFpuZkfZEcsCmbsqn2/XSbchGAHLApm3q9D6Cz07YAaB19oZWLaCAHbHoiwBf52BRADtiUTb1KAJAD384B8Gkbzx4APOyWAwAjlKCx6eQky4GgyYGgCZocAAiapSCAoLkPJBnA03QASZZkGgAoFVpHczKAWmQIVIsAAOxNARQ7AAB9kUEcQLn+/gCopgAAbjQ3Gg1cOAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAANV8aAAAAADwi7Pr/5+DVt2tAQAAgGK3I6oZUANEBgDQtigVACFoYQBhUwBBEzQAORA0NmVTOWBTADYlMptyEQCbEhnAOzsALjpPA88e6rJ3FUTmIi7Sm3IRF3ERkS1miaxUEFmpILJSURN6UyIT2QhlALHxIjKRiUxk+yKTPpGJbNInMpEN4sMARAawDBG06SIL2goi21UIGpFpcJlNjbFENuEQmQY0MGUaQEyZRBY0QRM0U6YpkwZEFjTrHFMmDTS/RCayKdOUacoUNH+4I2hENmX2AIhMZGMskWlgjCUyke2LNF5EJjINiExkGy8bL8uQCSIbxIlspcZFJn0iE1mpsEogsjGWi7iIi4jMRVzERfamAJaC52sAwEUANl5sCsCmXGRG89e6bEoDOWBTADmQAwBBk4MRAABJFjQAAIBqPvdrAPAGv7GBbaSCtb0AAAAASUVORK5CYII=");
background-attachment: fixed;
background-size: contain;
}

.icon {
    height: 144px;
    width: 144px;
    text-align: center;
    border-radius: 30px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10px;
    background-color: white;
}

.icon p {
    font-size: 132px;
    position: relative;
    bottom: 20px;
}

.icon-twitter {
    color:#00acee;
}

.twitter-icon {
    background-color: white;
}

.facebook-icon p {
    bottom:8px;
    right: 20px;
    text-align: right;
}

.icon-facebook {
    color: white;
}

.facebook-icon {
    background:    -moz-linear-gradient(90deg,  #3b5998 0%, #9daccb 100%);
    background: -webkit-gradient(linear, left bottom, right top, color-stop(0%,#3b5998), color-stop(100%,#9daccb));
    background: -webkit-linear-gradient(90deg,  #3b5998 0%,#9daccb 100%); 
    background:      -o-linear-gradient(90deg,  #3b5998 0%,#9daccb 100%); 
    background:     -ms-linear-gradient(90deg,  #3b5998 0%,#9daccb 100%); 
    background:         linear-gradient(90deg,  #3b5998 0%,#9daccb 100%);
}

.phone-icon p {
    
}

.icon-phone {
    color: white;
}

.icon-facetime-video {
    color: white;
    font-size: 108px;
}

.icon-camera {
    font-size: 108px;
}

.green-icon {
    background:    -moz-linear-gradient(90deg,  #00FF00 0%, #5AFF54 100%);
    background: -webkit-gradient(linear, left bottom, right top, color-stop(0%,#00FF00), color-stop(100%,#5AFF54));
    background: -webkit-linear-gradient(90deg,  #00FF00  0%,#5AFF54 100%); 
    background:      -o-linear-gradient(90deg,  #00FF00  0%,#5AFF54 100%); 
    background:     -ms-linear-gradient(90deg,  #00FF00  0%,#5AFF54 100%); 
    background:         linear-gradient(90deg,  #00FF00  0%,#5AFF54 100%);
}

.metal-icon {
    background:    -moz-linear-gradient(90deg,  #8C8C8C 0%, #F7F7F7  100%);
    background: -webkit-gradient(linear, left bottom, right top, color-stop(0%,#8C8C8C), color-stop(100%,#F7F7F7));
    background: -webkit-linear-gradient(90deg,  #8C8C8C 0%,#F7F7F7  100%); 
    background:      -o-linear-gradient(90deg,  #8C8C8C  0%,#F7F7F7  100%); 
    background:     -ms-linear-gradient(90deg,  #8C8C8C  0%,#F7F7F7  100%); 
    background:         linear-gradient(90deg,  #8C8C8C  0%,#F7F7F7  100%);
}

.blue-icon {
    background:    -moz-linear-gradient(90deg,  #5AE6FF 0%, #3264F4  100%);
    background: -webkit-gradient(linear, left bottom, right top, color-stop(0%,#5AE6FF), color-stop(100%,#3264F4));
    background: -webkit-linear-gradient(90deg,  #5AE6FF 0%,#3264F4  100%); 
    background:      -o-linear-gradient(90deg,  #5AE6FF  0%,#3264F4  100%); 
    background:     -ms-linear-gradient(90deg,  #5AE6FF  0%,#3264F4  100%); 
    background:         linear-gradient(90deg,  #5AE6FF  0%,#3264F4  100%);
}

.blue-icon-inverse {
    background:    -moz-linear-gradient(90deg,   #3264F4 0%, #5AE6FF  100%);
    background: -webkit-gradient(linear, left bottom, right top, color-stop(0%,#3264F4), color-stop(100%,#5AE6FF));
    background: -webkit-linear-gradient(90deg,   #3264F4 0%, #5AE6FF  100%); 
    background:      -o-linear-gradient(90deg,   #3264F4 0%, #5AE6FF  100%); 
    background:     -ms-linear-gradient(90deg,   #3264F4 0%, #5AE6FF  100%); 
    background:         linear-gradient(90deg,   #3264F4 0%, #5AE6FF  100%);
}

.foursquare-icon {
    color: #25a0ca;
}

.dribbble-icon {
    background-color: #ea4c89;
    color:white;
}

.weather-icon {
    color: white;
}

.dropbox-icon {
    background-color: #3d9ae8;
    color: white;
}

.github-icon {
    background-color: #171515;
    color: white;
}

.google-plus-icon {
    background-color: #dd4b39;
    color: white;
}

.instagram-icon {
    color: #3f729b;
}

.linkedin-icon {
    background-color: #0e76a8;
    color: white;
}

.pinterest-icon {
    background-color:#c8232c;
    color:white;
}

.skype-icon {
    background-color: #00aff0;
    color: white;
}

.youtube-icon {
    background-color: #c4302b;
    color: white;
}

.tumblr-icon {
    color: white;
    background-color: #34526f;
}

.weather-icon p,
.messages-icon p,
.camera-icon p,
.facetime-icon p,
.mail-icon p {
    font-size: 108px;
    bottom: 8px;
}

.mail-icon {
    color: white;
}

.messages-icon {
    color: white;
}