body {
    background: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAACAAAAQACAIAAAAP+8yGAAACoklEQVR4Xu3dwQ0CMQxEUTtKvbRCC3RqjtwR3g3WSwP/MDOObaIlH89XdJ4VzQcAACBiZzcgMvs1AAAAAFCu3WiR3YCYcKMBACh2AKopgFJBA7Xoo4Fip1TQAEAtkmQASXZlalsAJLk/aC59AICdSQNJ7ge4DwRN0ORAbypociAHgsamliHWmlwkB7oKnZ0caH7lQA40v3LApmqRHPiBAsBCSvsOYCHFpuZkfZEcsCmbsqn2/XSbchGAHLApm3q9D6Cz07YAaB19oZWLaCAHbHoiwBf52BRADtiUTb1KAJAD384B8Gkbzx4APOyWAwAjlKCx6eQky4GgyYGgCZocAAiapSCAoLkPJBnA03QASZZkGgAoFVpHczKAWmQIVIsAAOxNARQ7AAB9kUEcQLn+/gCopgAAbjQ3Gg1cOAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAANV8aAAAAADwi7Pr/5+DVt2tAQAAgGK3I6oZUANEBgDQtigVACFoYQBhUwBBEzQAORA0NmVTOWBTADYlMptyEQCbEhnAOzsALjpPA88e6rJ3FUTmIi7Sm3IRF3ERkS1miaxUEFmpILJSURN6UyIT2QhlALHxIjKRiUxk+yKTPpGJbNInMpEN4sMARAawDBG06SIL2goi21UIGpFpcJlNjbFENuEQmQY0MGUaQEyZRBY0QRM0U6YpkwZEFjTrHFMmDTS/RCayKdOUacoUNH+4I2hENmX2AIhMZGMskWlgjCUyke2LNF5EJjINiExkGy8bL8uQCSIbxIlspcZFJn0iE1mpsEogsjGWi7iIi4jMRVzERfamAJaC52sAwEUANl5sCsCmXGRG89e6bEoDOWBTADmQAwBBk4MRAABJFjQAAIBqPvdrAPAGv7GBbaSCtb0AAAAASUVORK5CYII=");
    background-attachment: fixed;
    background-size: contain;
}
.icon {
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10px;
    background-color: white;
    color: white;
}
.settings-standard {
    height: 29px;
    width: 29px;
    border-radius: 7px;
    font-size: 25px; /* 29 - (2 * 2.885) = 25.23 */
}
.settings-standard p {bottom: 3px; /* 29 - 25 = 3px */ }
.spotlight-standard {
    height: 40px;
    width: 40px;
    border-radius: 10px;
    font-size: 35px; /* 40 - (2 * 2.6) = 34.8 */
}
.spotlight-standard p { bottom: 5px; }
.settings-retina {
    height: 58px;
    width: 58px;
    border-radius: 14px;
    font-size: 50px; /* 57 - (3.77 * 2) = 49.46 */
}
.settings-retina p { bottom: 8px; }
.iphone-standard {
    height: 60px;
    width: 60px;
    border-radius: 16px;
    font-size: 52px;
}
.iphone-standard p { bottom: 7px; }
.ipad-standard {
    height: 76px;
    width: 76px;
    border-radius: 18px;
    font-size: 66px;
}
.ipad-standard p { bottom: 9px  }
.spotlight-retina {
    height: 80px;
    width: 80px;
    border-radius: 20px;
    font-size: 70px;
}
.spotlight-retina p { bottom: 10px; }
.iphone-retina {
    height: 120px;
    width: 120px;
    border-radius: 26px;
    font-size: 104px; /* 120 - (7.8 * 2) = 104.4 */
}
.iphone-retina p { bottom: 14px; /* 120 - 104 = 14 */ }
.ipad-retina {
    height: 152px;
    width: 152px;
    border-radius: 30px;
    font-size: 132px; /* 152 - (9.88 * 2) = 132.24 */
}
.ipad-retina p { bottom: 20px; /* 152 - 132 = 20 */ }

.icon p {
    position: relative;
}
.icon-twitter { color: #00acee }
.twitter-icon { background-color: white }
.facebook-icon p {
    bottom: 8px;
    right: 20px;
    text-align: right;
}
.icon-facebook { color: white }
.facebook-icon {
    background: -moz-linear-gradient(90deg,  #3b5998 0%, #9daccb 100%);
    background: -webkit-gradient(linear, left bottom, right top, color-stop(0%,#3b5998), color-stop(100%,#9daccb));
    background: -webkit-linear-gradient(90deg,  #3b5998 0%,#9daccb 100%);
    background: -o-linear-gradient(90deg,  #3b5998 0%,#9daccb 100%);
    background: -ms-linear-gradient(90deg,  #3b5998 0%,#9daccb 100%);
    background: linear-gradient(90deg,  #3b5998 0%,#9daccb 100%);
}
.phone-icon p { }
.icon-phone { color: white }
.icon-facetime-video {
    color: white;
}
.green-icon {
    background: -moz-linear-gradient(90deg,  #00FF00 0%, #5AFF54 100%);
    background: -webkit-gradient(linear, left bottom, right top, color-stop(0%,#00FF00), color-stop(100%,#5AFF54));
    background: -webkit-linear-gradient(90deg,  #00FF00  0%,#5AFF54 100%);
    background: -o-linear-gradient(90deg,  #00FF00  0%,#5AFF54 100%);
    background: -ms-linear-gradient(90deg,  #00FF00  0%,#5AFF54 100%);
    background: linear-gradient(90deg,  #00FF00  0%,#5AFF54 100%);
}
.metal-icon {
    background: -moz-linear-gradient(90deg,  #8C8C8C 0%, #F7F7F7  100%);
    background: -webkit-gradient(linear, left bottom, right top, color-stop(0%,#8C8C8C), color-stop(100%,#F7F7F7));
    background: -webkit-linear-gradient(90deg,  #8C8C8C 0%,#F7F7F7  100%);
    background: -o-linear-gradient(90deg,  #8C8C8C  0%,#F7F7F7  100%);
    background: -ms-linear-gradient(90deg,  #8C8C8C  0%,#F7F7F7  100%);
    background: linear-gradient(90deg,  #8C8C8C  0%,#F7F7F7  100%);
}
.blue-icon {
    background: -moz-linear-gradient(90deg,  #5AE6FF 0%, #3264F4  100%);
    background: -webkit-gradient(linear, left bottom, right top, color-stop(0%,#5AE6FF), color-stop(100%,#3264F4));
    background: -webkit-linear-gradient(90deg,  #5AE6FF 0%,#3264F4  100%);
    background: -o-linear-gradient(90deg,  #5AE6FF  0%,#3264F4  100%);
    background: -ms-linear-gradient(90deg,  #5AE6FF  0%,#3264F4  100%);
    background: linear-gradient(90deg,  #5AE6FF  0%,#3264F4  100%);
}
.blue-icon-inverse {
    background: -moz-linear-gradient(90deg,   #3264F4 0%, #5AE6FF  100%);
    background: -webkit-gradient(linear, left bottom, right top, color-stop(0%,#3264F4), color-stop(100%,#5AE6FF));
    background: -webkit-linear-gradient(90deg,   #3264F4 0%, #5AE6FF  100%);
    background: -o-linear-gradient(90deg,   #3264F4 0%, #5AE6FF  100%);
    background: -ms-linear-gradient(90deg,   #3264F4 0%, #5AE6FF  100%);
    background: linear-gradient(90deg,   #3264F4 0%, #5AE6FF  100%);
}
.red-icon {
    background: -moz-linear-gradient(90deg,   #FF4826 0%, #FF0064  100%);
    background: -webkit-gradient(linear, left bottom, right top, color-stop(0%,#FF4826), color-stop(100%,#FF0064));
    background: -webkit-linear-gradient(90deg,   #FF4826 0%, #FF0064  100%);
    background: -o-linear-gradient(90deg,   #FF4826 0%, #FF0064  100%);
    background: -ms-linear-gradient(90deg,   #FF4826 0%, #FF0064  100%);
    background: linear-gradient(90deg,   #FF4826 0%, #FF0064  100%);    
}
.foursquare-icon { color: #25a0ca }
.dribbble-icon { background-color: #ea4c89 }
.dropbox-icon { background-color: #3d9ae8 }
.github-icon { background-color: #171515 }
.google-plus-icon { background-color: #dd4b39 }
.instagram-icon { color: #3f729b }
.linkedin-icon { background-color: #0e76a8 }
.pinterest-icon { background-color: #c8232c }
.skype-icon { background-color: #00aff0 }
.youtube-icon { background-color: #c4302b }
.tumblr-icon { background-color: #34526f }
.mail-icon { color: white }
.messages-icon { color: white }

.well {
    margin-top: 10px;
    padding-top: 5px;
}